.genres {
  display: flex;
  list-style-type: none;
  padding: 0px;
}
.genres :not(:first-child) {
  margin-left: 15px !important;
}
.div {
  display: flex;
  padding: 10px 0px;
  border-bottom: 2px solid darkgrey;
  border-top: 2px solid darkgrey;
}
.div :not(:first-child) {
  margin-left: 20px;
}
h1 {
  padding-left: 20px;
}
.navLink {
  font-size: 18px;
}
.navLinkactive {
  font-size: 18px;
  color: red;
}
.container {
  padding-left: 15px;
}

.button {
  margin-top: 20px;
  margin-bottom: 20px;
}
.addInfo {
  border-bottom: 2px solid darkgrey;
  border-top: 2px solid darkgrey;
  margin: 0px;
  padding: 20px 0px;
}
h3 {
  margin: 0px 0px 10px 0px;
}
